.places{
    position: absolute;
    border: solid 1px black;
    left: 10vw;
    top: 250px;
    width: 320px;
    background: white;
    z-index: -1;
    cursor: pointer;
}
.item:hover{
    background: rgba(89, 101, 108, 0.53);
}

.places p {
    margin: 0;
    padding: 10px 0 10px 10px;

}